* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.jumbotron {
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
  background-color: #fff; }

h1 {
  margin: 0; }

.jumbotron p {
  font-size: 1.8em; }

.form-control {
  height: auto;
  font-size: 1.375em; }

.btn {
  font-size: 1.3em;
  border-radius: 0; }

.navbar-inverse {
  background-color: #fff;
  border-color: #3d6e7b; }

.navbar {
  margin-bottom: 0;
  border: none;
  padding: 2.5em 0; }

.navbar-brand {
  padding: 0;
  font-size: inherit; }

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
  color: #337ab7;
  background-color: transparent; }

.navbar-inverse .navbar-nav > li > a {
  color: #337ab7;
  font-size: 1.53em;
  padding: 1.3em;
  text-transform: uppercase; }

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
  color: #fff;
  background-color: #ffbb42; }

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #ffbb42; }

h1 {
  font-family: 'Berkshire Swash', cursive;
  font-size: 6em; }
  h1 a {
    text-decoration: none;
    color: #3d6e7b; }

h1 a:hover {
  text-decoration: none;
  color: #337ab7; }

h2, h3, h4, h5 {
  font-size: 2.7em;
  font-weight: bold;
  text-transform: uppercase;
  color: #394b50; }

h3 {
  font-size: 1.7em; }

h4 {
  font-size: 2.4em;
  color: inherit; }

h5 {
  font-size: 2em;
  color: #818b95; }

.header-block {
  padding: 2.975em 0; }

.float-right ul {
  padding-top: 0.625em;
  list-style: none; }
.float-right li {
  display: inline-block; }
.float-right a {
  display: block;
  padding: 0.9375em 1.3625em;
  font-size: 1.5625em;
  text-transform: uppercase;
  text-decoration: none; }
.float-right a:hover {
  background: #ffbb42;
  color: white; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.overflow-hidden {
  overflow: hidden; }

ul li {
  list-style: none; }

.font-size-color-lh {
  font-size: 1.5em;
  color: #7b7b7b;
  line-height: 1.5625em; }

.fo {
  font-size: 4em;
  margin: 0.4em 0 0 1em;
  color: #709dca;
  cursor: pointer; }

.fo:hover {
  color: #f6772c; }

.mg-top-small {
  margin-top: 2.5em; }

.mg-top-big {
  margin-top: 3.75em; }

.mg-bottom {
  margin-bottom: 1.875em; }

.mg-bottom-big {
  margin-bottom: 4.875em; }

.block-parallax {
  width: 50%; }

.parallax {
  background-image: url(../images/parallax.jpg);
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  background-size: cover; }

.bg-orange {
  background: #ffc155; }

.pd-block {
  padding: 2em 4.25em;
  background: #fff;
  cursor: pointer; }

.color-white {
  color: #fff;
  padding: 2.625em 4.25em; }
  .color-white p a {
    display: inline-block;
    font-size: 0.9em;
    padding: 0.625em 1.25em;
    border: 1px solid #e7ad48;
    color: inherit; }

.color-white p a:hover {
  text-decoration: none;
  background: #e7ad48; }

.block-content {
  width: 50%;
  margin-top: 10em; }

.color-gold {
  color: #ffbb42;
  font-size: 3.2em;
  font-weight: bold; }
  .color-gold .fe {
    font-size: 0.5em;
    position: relative;
    top: -10px;
    left: -3px; }

.plan-lorem, .per-month {
  padding-bottom: 1.25em;
  border-bottom: 1px solid #e2e9f0; }

.text-transform {
  text-transform: uppercase; }

.per-month {
  margin-top: -1.75em; }

.btn-get, .btn-start {
  display: inline-block;
  padding: 0.8375em 1.3625em;
  font-size: 1.1em;
  text-transform: uppercase;
  background: #ffbb42;
  color: #fff; }

.btn-get:hover, .btn-start:hover {
  color: #fff;
  background-color: #e7ad48;
  text-decoration: none; }

.block-blue {
  position: relative;
  top: -3.7em;
  background: #709dca;
  color: #fff;
  padding: 6em 3.25em;
  cursor: pointer; }
  .block-blue h5 {
    color: #fff; }
  .block-blue p {
    color: #fff; }

.bg-color-container {
  background: #e7edf3;
  padding: 6.75em 0; }

.icon {
  font-size: 5em;
  color: #709dca;
  margin: 1.5em 0 0.7em; }

.icon:hover {
  color: #f89b64;
  cursor: pointer; }

.pd-block-bottom {
  padding-bottom: 1em; }

.btn-start {
  font-size: 1.7em;
  margin: 3em 0; }

.bg-white {
  background: #fff;
  padding: 2em 1em 1em; }

.block:before {
  content: open-quote;
  font-size: 24pt;
  text-align: center; }

.block:after {
  content: close-quote;
  font-size: 24pt;
  text-align: center;
  position: relative;
  top: 5px; }

.uper-color {
  text-transform: uppercase;
  color: #f6772c;
  padding: 0.8em 0 2em; }
  .uper-color span {
    color: #99a9ae; }

.main-rule {
  margin: 2em 3em 0.3em 0;
  width: 45%;
  cursor: pointer; }

.color-fff {
  color: #fff; }

.hover-block:hover {
  opacity: 0.6;
  cursor: pointer; }

.pd-bottom-big {
  padding-bottom: 5.75em;
  background: #ffc155; }

.icon-x {
  font-size: 2em; }

.btn-text {
  color: #fff;
  border: none;
  background: #ffbb42; }

.btn-text:hover {
  background: #e7ad48; }

.font-footer {
  color: #aeb7ba;
  font-size: 1.75em;
  background: #394b50;
  padding: 1.25em 0;
  cursor: pointer; }
  .font-footer li {
    padding-bottom: 0.5em; }

.adress {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1em; }

.email {
  color: #ffbb42;
  cursor: pointer; }

.fi {
  font-size: 2em;
  color: #709dca;
  padding-right: 0.5em;
  cursor: pointer; }

.fi:hover {
  color: #ffc155; }

.nav-hide {
  display: none;
  text-align: center; }

.img-hide {
  cursor: pointer;
  display: none; }

.li-modal {
  font-size: 1.8em;
  padding: 1em 2em; }

.li-modal:hover {
  text-decoration: none;
  background: #ffbb42; }

.li-modal a:hover {
  text-decoration: none;
  color: #fff !important; }

/*# sourceMappingURL=style.css.map */
